<a href="/auth/google" class="btn btn-primary"> <i class="fa fa-google"></i> Login With Google Account</a>

<a href="/auth/facebook" class="btn btn-info"> <i class="fa fa-facebook"></i> Login With Facebook Account</a>
