
<footer class="footer-expand footer-dark bg-info" id="footer">
<div class="footer-copyright text-center py-3">© 2020 Copyright:
    Abdelqwy Sayed,Ahmed || Email : abdelqwysayed@gmail.com
  </div>

</footer>